@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,900;1,600&display=swap");

@import "./sections/section-1";
@import "./sections/section-2";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}
