// Abdulaziz

// mixin
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 {
  header {
    padding: 63px 87px 0 87px;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .navigation {
      position: relative;
      .navbar {
        @include space-between();

        .nav-logo {
          @include center();
          gap: 40px;

          ul {
            display: flex;
            gap: 56px;

            a {
              text-decoration: none;
              font-weight: 600;
              font-size: 18px;
              color: #fcfcfc;
            }
          }
        }

        .nav-korzinka {
          display: flex;
          gap: 24px;
        }
      }

      .title {
        h1 {
          font-weight: bold;
          font-size: 56px;
          line-height: 120%;
          letter-spacing: 0.02em;
          color: #ffffff;
          margin-top: 181px;
        }
      }

      .position-botoom {
        width: 100%;
        padding: 49px 325px 49px 325px;
        position: absolute;
        top: 500px;

        background: url("/assets/icon/Rectangle\ 81.svg"), #ab0433;
        background-blend-mode: darken, normal;
        box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
          0px 12px 32px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;

        h1 {
          font-weight: bold;
          font-size: 46px;
          color: #ffffff;
        }
        p {
          font-weight: 600;
          font-size: 24px;
          line-height: 149%;
          color: #fff;
          margin-top: 4px;
        }
        button {
          width: 134px;
          height: 34px;
          background: #ff753a;
          border-radius: 32px;
          border: none;
          font-weight: 600;
          font-size: 14px;
          color: #fff;
          margin-top: 16px;
        }
      }
    }
  }

  .cantainer-fluid {
    .container {
      padding: 0 87px;
      margin-top: 181px;
      .title {
        text-align: center;
        .line {
          width: 80px;
          height: 3px;
          background-color: #ab0433;
          margin-left: auto;
          margin-right: auto;
        }
        h1 {
          font-weight: bold;
          font-size: 40px;
          color: #505050;
        }
      }

      .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 34px;
        margin-bottom: 88px;
        .products-flex {
          background: #ffffff;
          border-radius: 0px 0px 10px 10px;
          .images {
            background: radial-gradient(
              98.56% 98.92% at 1.22% 1.08%,
              #fbfbfb 0%,
              #d3d3d3 100%
            );
            border-radius: 10px 10px 0px 0px;
            text-align: center;
            img {
              margin-top: -18px;
            }
          }

          .brand-name {
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            padding: 16px 24px 26px 24px;
            .name {
              @include space-between();
              h3 {
                font-weight: 600;
                font-size: 18px;
              }
            }

            .poragrif {
              font-weight: 500;
              font-size: 16px;
              color: #767676;
              margin-top: 6px;
            }
            .colors {
              width: 123px;
              height: 18px;
              border: 1px solid #5050509d;
              @include center();
              margin-top: 18px;
              border-radius: 5px;

              p {
                font-weight: normal;
                font-size: 12px;
                color: #505050;
                display: flex;
                gap: 5px;
                span {
                  color: black;
                }
              }
            }
          }
        }
      }
    }

    .popular {
      background: #ececec;
      padding: 88px 87px 88px 87px;

      .popular-title {
        text-align: center;
        .line {
          width: 80px;
          height: 3px;
          background-color: #ab0433;
          margin-left: auto;
          margin-right: auto;
        }
        h1 {
          font-weight: bold;
          font-size: 40px;
          color: #505050;
        }
      }

      .popular-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 42px;
        gap: 30px;
        .popular-flex {
          padding: 0 24px 26px 24px;
          background-color: #fff;
          border-radius: 10px;

          img {
            margin-left: auto;
            margin-right: auto;
            display: block;
          }

          .name {
            @include space-between();
            h3 {
              font-weight: 600;
              font-size: 18px;
            }
          }

          .poragrif {
            font-weight: 500;
            font-size: 16px;
            color: #767676;
            margin-top: 6px;
          }

          .colors {
            width: 123px;
            height: 18px;
            border: 1px solid #5050509d;
            @include center();
            margin-top: 18px;
            border-radius: 5px;

            p {
              font-weight: normal;
              font-size: 12px;
              color: #505050;
              display: flex;
              gap: 5px;
              span {
                color: black;
              }
            }
          }
        }
      }
    }

    .gear-heads {
      padding: 88px 87px 88px 87px;
      .heads-title {
        text-align: center;
        .line {
          width: 80px;
          height: 3px;
          background-color: #ab0433;
          margin-left: auto;
          margin-right: auto;
        }
        h1 {
          font-weight: bold;
          font-size: 40px;
          color: #505050;
        }
      }

      .heads1-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        margin-top: 48px;

        .title:nth-child(1) {
          border-radius: 10px;
          .heads-flex {
            background-image: url("/assets/icon/heades1.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 487px;
            border-radius: 10px 10px 0 0;
          }

          .heades-footer {
            padding: 32px;
            background: #252525;
            border-radius: 0px 0px 10px 10px;
            h3 {
              font-weight: 600;
              font-size: 24px;
              color: #fff;
            }
            p {
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              color: #c4c4c4;
              margin-top: 4px;
            }
          }
        }

        .title:nth-child(2) {
          .heads-flex {
            background-image: url("/assets/icon/heades3.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 487px;
            border-radius: 10px 10px 0px 0px;
          }

          .heades-footer {
            padding: 32px;
            background: #eaeaea;
            border-radius: 0px 0px 10px 10px;
            h3 {
              font-weight: 600;
              font-size: 24px;
              color: #202020;
            }
            p {
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              color: #767676;
              margin-top: 4px;
            }
          }
        }
      }

      .heads2-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        margin-top: 48px;

        .title:nth-child(1) {
          border-radius: 10px;
          .heads-flex {
            background-image: url("/assets/icon/heades-4.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 487px;
            border-radius: 10px 10px 0 0;
          }

          .heades-footer {
            padding: 32px;
            background: #252525;
            border-radius: 0px 0px 10px 10px;
            h3 {
              font-weight: 600;
              font-size: 24px;
              color: #fff;
            }
            p {
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              color: #c4c4c4;
              margin-top: 4px;
            }
          }
        }

        .title:nth-child(2) {
          .heads-flex {
            background-image: url("/assets/icon/heades-5.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 487px;
            border-radius: 10px 10px 0px 0px;
          }

          .heades-footer {
            padding: 32px;
            background: #eaeaea;
            border-radius: 0px 0px 10px 10px;
            h3 {
              font-weight: 600;
              font-size: 24px;
              color: #202020;
            }
            p {
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              color: #767676;
              margin-top: 4px;
            }
          }
        }

        .title:nth-child(3) {
          .heads-flex {
            background-image: url("/assets/icon/heades-6.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 487px;
            border-radius: 10px 10px 0px 0px;
          }

          .heades-footer {
            padding: 32px;
            background: #252525;
            border-radius: 0px 0px 10px 10px;
            h3 {
              font-weight: 600;
              font-size: 24px;
              color: #fff;
            }
            p {
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              color: #c4c4c4;
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
}
