// Abdulaziz

// mixin
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 {
  header {
    padding: 63px 87px 0 87px;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .navigation {
      position: relative;
      .navbar {
        @include space-between();

        .nav-logo {
          @include center();
          gap: 40px;

          ul {
            display: flex;
            gap: 56px;

            a {
              text-decoration: none;
              font-weight: 600;
              font-size: 18px;
              color: #fcfcfc;
            }
          }
        }

        .nav-korzinka {
          display: flex;
          gap: 24px;
        }
      }

      .title {
        h1 {
          font-weight: bold;
          font-size: 56px;
          line-height: 120%;
          letter-spacing: 0.02em;
          color: #ffffff;
          margin-top: 181px;
        }
      }

      .position-botoom {
        width: 100%;
        padding: 49px 325px 49px 325px;
        position: absolute;
        top: 500px;

        background: url("/assets/icon/Rectangle\ 81.svg"), #ab0433;
        background-blend-mode: darken, normal;
        box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
          0px 12px 32px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;

        h1 {
          font-weight: bold;
          font-size: 46px;
          color: #ffffff;
        }
        p {
          font-weight: 600;
          font-size: 24px;
          line-height: 149%;
          color: #fff;
          margin-top: 4px;
        }
        button {
          width: 134px;
          height: 34px;
          background: #ff753a;
          border-radius: 32px;
          border: none;
          font-weight: 600;
          font-size: 14px;
          color: #fff;
          margin-top: 16px;
        }
      }
    }
  }
}
